.layout {
	display: grid;
	margin: 0px;
	min-height: calc(100vh - 50px);
	background: #232323;
	position: relative;
	padding: 25px;

	@media (min-width: 1100px) {
		grid-template-columns: 350px 1fr;
		padding: 25px 50px 25px 25px;
		gap: 50px;
	}
}

.header {
	background: rgba(26, 26, 26, 0.8);
	backdrop-filter: blur(5px);
	border-radius: 20px;
	padding: 25px;
	position: sticky;
	top: 25px;
	z-index: 999;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	animation: animate-header-in 0.5s ease-in-out 1;

	@media (min-width: 1100px) {
		height: calc(100vh - 100px);
		background: rgba(0, 0, 0, 0.2);
	}
}

@keyframes animate-header-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
