.wrapper {
	display: grid;
	gap: 20px;
}

.title {
	color: #fff;
	font-size: 32px;
	font-weight: bolder;
	margin: 0;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 30px 25px;
	list-style: none;
	margin: 0;
	padding: 0;
}
